.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input:focus {
  outline: none;
}


.gradient-border {
  position: relative;
}

.gradient-border::before,
.gradient-border::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px; /* Adjust the border width as needed */
}

.gradient-border::before {
  left: 0;
  background: linear-gradient(to bottom, #ff0000, #00ff00); /* Define your gradient colors */
}

.gradient-border::after {
  right: 0;
  background: linear-gradient(to bottom, #00ff00, #0000ff); /* Define your gradient colors */
}
